<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Regla principal para actuar como proxy inverso a la aplicación Next.js -->
        <rule name="ReverseProxyToNext" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:9003/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      loggingEnabled="false"
      logDirectory="iisnode"
      devErrorsEnabled="false"
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
    />

    <!-- Bloqueo estricto de archivos de base de datos, claves y variables de entorno -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
        <hiddenSegments>
          <add segment="dbs" />
          <add segment=".env" />
          <add segment=".git" />
          <add segment="iisnode" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".db" allowed="false" />
          <add fileExtension=".pem" allowed="false" />
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".sqlite" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>

  </system.webServer>
  
  <system.web>
    <customErrors mode="RemoteOnly"/>
  </system.web>
</configuration>

